<a href="https://colab.research.google.com/github/JerryK97/dl12/blob/main/ch02_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch02_python.ipynb
## dl12
- 파이썬 복습

In [ ]:
# cap02 - python basics
#
3.14 * 10 * 10 

3.14 * 10**2

In [ ]:
type(10)

type(3.14)

type("python")

In [ ]:
r = 20

PI = 3.14		# 원주율 정의

area = PI * r**2

area

In [2]:
# list
lst = [ 10, 20, 30, 40, 50]		# 리스트 정의

lst

[10, 20, 30, 40, 50]

In [3]:
# indexing & slicing
print(lst[2]) 				# 리스트의 요소 접근

lst[2] = 90			# 세 번째 요소를 90으로 변경

print(lst)

print(len(lst))

lst, len(lst)

30
[10, 20, 90, 40, 50]
5

([10, 20, 90, 40, 50], 5)

In [ ]:
#slicing
print(lst[0:3])

print(lst[2:])

print(lst[:3])

print(lst[:-1])

In [6]:
# dictionary
car = { 'HP':200, 'make': "BNW" }	# 딕셔너리 정의

print(car['HP'])

car['color'] = "white"

car

200

{'HP': 200, 'make': 'BNW', 'color': 'white'}

In [ ]:
# Conditional
temp = -10

if temp < 0 :
    print("영하입니다.")	
else:
    print("영상입니다.")

In [ ]:
# loop
for i in [1, 2, 3, 4, 5] :
    print(i, end=" ")

In [ ]:
# function
def sayHello():
    print("Hello!")

sayHello()

In [ ]:
# class
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def sayHello(self):
    print("Hello 나의 이름은 " + self.name)

p1 = Person("John", 36)
p1.sayHello()

In [7]:
# [DIY] 이름과 나이를 다 출력하게 코드를 변경하시오.
#################################################
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def sayHello(self):
        print("Hello! 나의 이름은 " + self.name + "이고, 나이는 " + str(self.age) + "살입니다.")

p1 = Person("김민혁", 27)
p1.sayHello()

Hello! 나의 이름은 김민혁이고, 나이는 27살입니다.